<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061716495547-lctd6lvajd09vmo0jd6s52vrvbbcvsft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061716495547-lctd6lvajd09vmo0jd6s52vrvbbcvsft</string>
	<key>API_KEY</key>
	<string>AIzaSyDjXG0d95pJXdny2z7p9Xi9iflSBb8AFcc</string>
	<key>GCM_SENDER_ID</key>
	<string>1061716495547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>aula-exemplo-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>aula-exemplo-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061716495547:ios:08cf56abd167a8207aad9e</string>
</dict>
</plist>